.LoginPageHome {
    background: none;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}

.LoginPage {
    background-color: rgb(158,22,22);
    height: 100vh;
}