.CarouselItem {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 490px;
    background-color: white;
}

.CarouselItemImage {
    width: 250px;
    padding: 0px 20px 0px 20px;
}