.LoginForm {
    color: black;
}

.LoginFormForm {    
    font-weight: normal;
    display: flex;
    flex-direction: column;
    gap: 40px;
    font-size: 120%;
    font-weight: 500;
}

.LoginFormTitle {
    font-size: 300%;
    font-weight: bolder;
    justify-self: center;
    padding-bottom: 5px;
}

.LoginFormSubtitle {
    font-size: 200%;
    font-weight: bolder;
    justify-self: center;
    padding-bottom: 5px;
}

.LoginFormSection {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.LoginFormSubmit {
    color: white;
    font-weight: bold;
    padding: 10px 0px;
    background-color: rgb(158,22,22);
    border-radius: 5px;
    margin-bottom: 15px;
}

.LoginFormSubmit:hover {
    background-color: rgb(233, 35, 35);
}

.LoginFormSignupLinkContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-decoration: none;
    padding-bottom: 10px;
}

.LoginFormSignupLink {
    justify-self: center;
    color: blue;
    border: none;
    outline: none;
    background: none;
    text-decoration: none;
}

.LoginFormSignupLink:hover {
    color: rgb(19, 101, 255);
    text-decoration: underline;
}

.LoginFormRedText {
    color: red;
}
