.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(158,22,22);
    padding: 0.5% 2%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.leftPart {
    flex: 1;
}

.home {
    background: none;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}

.home:hover {
    color: black;
}

.center {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar-container {
    padding-top: 20vh;
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 200px;
}

.input-wrapper {
    background-color: white;
    width: 100%;
    border-radius: 10px;
    height: 38px;
    padding: 0 15px;
    box-shadow: 0px 0px 8px #ddd;
    display: flex;
    align-items: center;
}

.NavBarInput {
    background-color: transparent;
    border: none;
    height: 100%;
    font-size: 1.25rem;
    width: 100%;
    margin-left: 5px;
}

.NavBarInput:focus {
    outline: none;
}

.rightPart {
    flex: 1;
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    padding-right: 10px;
}

.profile {
    width: 40px;
    height: 40px;
    
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    cursor: pointer;
    margin-left: 15px;
}
  
.profileIcon {
    color: rgb(255, 255, 255);
    font-size: 24px;
}
  
.profileIcon:hover {
    color: black; 
}

.dropdown-menu {
    position: absolute;
    right: 10px;
    top: 50px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 150px;
    list-style: none;
    padding: 10px 0;
    z-index: 100;
    display: none; 
}

.dropdown-menu.active {
    display: block;
}

.dropdownItem {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.dropdownItem:hover {
    background: #f0f0f0;
}

.dropdownIcon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.signUp {
    border: none;
    background-color: #ffffff;
    width: 150px;
}

.login {
    border: none;
    background-color: #ffffff;
    width: 150px;
}