.EditProfile {
    padding: 3% 7%;
}

.EditProfileTitle {
    font-size: 300%;
    font-weight: bolder;
    padding-bottom: 2%;
}

.EditProfileForm {
    font-size: 120%;
    font-weight: bold;
}

.EditProfile input {
    margin-bottom: 1%;
    width: 30%;
}

.EditProfileSubtitle {
    font-size: 120%;
    padding-top: 2.5%;
    padding-bottom: 2%;
}

.EditProfile span {
    font-weight: normal;
    padding-left: 10px;
}

.EditProfileSave {
    color: white;
    font-weight: bold;
    padding: 10px 0px;
    background-color: rgb(158,22,22);
    border-radius: 5px;
}

.EditProfileSave:hover {
    background-color: rgb(233, 35, 35);
}


.cardContainer {
    display: flex;
    flex-direction: row;
    gap: 10em;
    justify-self: left;
}

.cardContainer input {
    width: 69%;
}

.deleteCardButton{
    color: white;
    font-weight: bold;
    padding: 10px 10px;
    background-color: rgb(158,22,22);
    border-radius: 5px;
    margin: 10px 0px;
    max-height: fit-content;
    align-self: center;
}

.deleteCardButton:hover {
    background-color: rgb(233, 35, 35);
}

.addNewCardButton {
    color: white;
    font-weight: bold;
    padding: 10px 10px;
    background-color: rgb(158,22,22);
    border-radius: 5px;
    margin: 10px 0px;
}