.ViewProfile {
    padding: 3% 7%;
}

.ViewProfileTitle {
    font-size: 300%;
    font-weight: bolder;
    padding-bottom: 2%;
}

.ViewProfileInfo {
    font-size: 120%;
    font-weight: bold;
}

.ViewProfileInfo span {
    font-weight: normal;
    padding-left: 10px;
}

.ViewProfileSubtitle {
    font-size: 120%;
    padding-top: 2.5%;
    padding-bottom: 2%;
}

.ViewProfileLoading {
    font-style: italic;
}

.ViewProfileEdit {
    margin-top: 2%;
    width: 20%;
    color: white;
    font-weight: bold;
    padding: 10px 0px;
    background-color: rgb(158,22,22);
    border-radius: 5px;
}

.ViewProfileEdit:hover {
    background-color: rgb(233, 35, 35);
}