.AdminEdit {
    padding: 3% 7%;
}

.AdminEditTitle {
    font-size: 300%;
    font-weight: bolder;
}

.AdminEdit input {
    margin-bottom: 1%;
    width: 30%;
}

.AdminEdit select {
    margin-bottom: 1%;
}

.AdminEdit form {
    font-size: 120%;
    font-weight: bold;
}

.AdminEditSubtitle {
    font-size: 120%;
    padding-top: 2.5%;
    padding-bottom: 2%;
}

.AdminFormSection {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.AdminEdit textarea {
    width: 30%;
    padding-bottom: 10%;
}

.AdminEditSave {
    color: white;
    font-weight: bold;
    padding: 10px 0px;
    background-color: rgb(158,22,22);
    border-radius: 5px;
}

.AdminEditSave:hover {
    background-color: rgb(233, 35, 35);
}

.AdminShowtimeButtons label {
    margin: 10px 0px 30px;
}

.AdminShowtimeButtons span{
    background: #444;
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    align-items: center;
    width: 140px;
    margin-right: 10px;
}

.AdminShowtimeButtons input:checked + span{
    background: rgb(245, 65, 65);
    color: black;
}

.AdminShowtimeButtons input[type="checkbox"]:not(:checked), 
input[type="checkbox"]:checked {
  position: absolute;
  left: -9999%;
}


