.MainFeatured {
    background-color: rgb(255, 255, 255);
    padding: 1% 5% 10% 5%;
    color: black;
}

.MainFeaturedText {
    font-size: 500%;
    padding-bottom: 2%;
}

.MainFeaturedCarousel {   
    width: 100%;
    justify-self: center;
}

.MainFeaturedCarouselItem {
    display: flex;
    flex-direction: column;
}

.MainFeaturedCarouselVideoContainer {
    width: 100%;  
    max-width: 1200px;  
    margin: 0 auto; 
    aspect-ratio: 16 / 9; 
    display: flex; 
    justify-content: center;
    align-items: center;
}

.MainFeaturedCarouselItem iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(100%);
}

.carousel-indicators {
    filter: invert(100%);
}

.MainFeaturedCarouselTitle {
    font-size: 300%;
    padding-left: 16%;
}
.MainFeaturedCarouselBody {
    font-size: 160%;
    padding-left: 16%;
    padding-bottom: 3%;
}